*{
	margin: 0px;
	padding: 0px;
}
a:link{
	color: black;
}
a:visited{
	color: rgb(0,50,20);
}
h1{
	font: bold 25px Tahoma;
}
h2{
	font: bold 20px Tahoma;
}
li{
	font: 15px Tahoma;
}
p{
	font: 15px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
section#sub_contents{
	vertical-align:top;
}
body{
	text-align:center;
	background-image: url("bdfe_wall_08.png");
	width: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
#top_header{
	background: linear-gradient(to bottom, #031, #364);
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}
#main_body{
	display: inline-flex;
	justify-content: space-evenly;
}
#main_contents{
	display: box;
	flex: 1;
	text-align: left;
}
#sub_contents{
	display: box;
	margin: 20px;
	justify-content: center;
	text-align: left;
}
#sub_headings{
	background: rgba(50,120,60,0.9);
	color: white;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
}
#sub_bodies{
	background: rgba(255,255,255,0.8);
	border-radius: 15px;
	margin-top: 20px;
	padding: 10px;
}
#sub_contents li{
	color: black;
	list-style:none;
	padding: 3px 10px 2px;
}
footer{
	clear: both;
	margin: 100px;
	padding: 20px;
	background: rgba(0,0,0,0.8);
	color: white;
	border-radius: 20px;
}